*, *:before, *:after {
  box-sizing: border-box;
}

body {
	margin: 2em;
	font-family: -apple-system, 
                BlinkMacSystemFont, 
                "Segoe UI", 
                Roboto, 
                Oxygen-Sans, 
                Ubuntu, 
                Cantarell, 
                "Helvetica Neue", 
                sans-serif;
    background-color: #fff;
}

.wrapper {
	max-width: 1280px;
	margin: 0 1em;
	display: grid;
	grid-gap: 1em;
}

@media screen and (min-width: 36em) {

	/* no-grid fallback */
	.sidebar {
		float: left;
		width: 20%;
	}
	.main {
		float: right;
		width: 80%;
	}
	.wrapper {
		margin: 0 auto;
		grid-template-columns: 1fr 3fr;
	}

	.header, .footer {
		grid-column: 1 / -1;
		/* for no-grid fallback */
		clear: both;
	}

}

/* for demo purposes */
.wrapper > * {
	background-color: #999;
	border-radius: 5px;
	color: #fff;
	padding: 1.5em;
	margin-bottom: 1em;
}

/* set widths on floated items back to 0 and remove bottom margin since grid has gaps */
@supports (display: grid) {
	.wrapper > * {
		width: auto;
		margin-bottom: 0;
	}
}