---
layout: default.njk
title: Off-canvas Nav
---

{% block content %}
<div class="wrapper">
  <header class="main-head">
      <a class="toggle open" href="#nav">menu</a> 
      <h1>The header</h1>
  </header>
  <nav id="nav" class="main-nav">
    <a class="toggle close" href="#">X</a>
    <ul>
      <li>
        <a href="">Nav 1</a>
      </li>
      <li>
        <a href="">Nav 2</a>
      </li>
      <li>
        <a href="">Nav 3</a>
      </li>
    </ul>
  </nav>
    <article class="content">
      <h2>Main article area</h2>
      <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Consequatur, similique? Consequuntur veniam optio cum laboriosam
        aliquam est alias totam, cumque tenetur omnis quis vero! Aliquam voluptatum amet excepturi ipsam repellat?</p>
      <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Consequatur, similique? Consequuntur veniam optio cum laboriosam
        aliquam est alias totam, cumque tenetur omnis quis vero! Aliquam voluptatum amet excepturi ipsam repellat?</p>
      <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Consequatur, similique? Consequuntur veniam optio cum laboriosam
        aliquam est alias totam, cumque tenetur omnis quis vero! Aliquam voluptatum amet excepturi ipsam repellat?</p>
    </article>
    <aside class="side">Sidebar</aside>
  
  <footer class="main-footer">Footer | <a href="/">Grid Lab Main</a></footer>
</div>
{% endblock %}