<html>

<head>
    <title>Basic 3-col layout</title>
    <link rel="stylesheet" type="text/css" href="main.css">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
</head>

<body>

  <div class="wrapper">
    <header class="main-head">The header</header>
    <nav class="main-nav">
      <ul>
        <li><a href="">Nav 1</a></li>
        <li><a href="">Nav 2</a></li>
        <li><a href="">Nav 3</a></li>
      </ul>
    </nav>
    <article class="content">
      <h1>Main article area</h1>
      <p>In this layout, we display the areas in source order for any screen less than 500 pixels.</p>
    </article>
    <aside class="side">Sidebar</aside> 
    <div class="ad">Ads</div>
    <footer class="main-footer">Footer | <a href="/">Grid Lab Main</a></footer>
  </div>

</body>

</html>