<html lang="en">

<head>
  <title>Grid Lab</title>
  <link rel="stylesheet" type="text/css" href="main.css">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>

  <div class="wrapper">
  <header class="header"><h1>Grid Lab</h1></header>
  
  <section class="content">
  <ul>
    <li>
      <h2>
        <a href="demos/basic-sidebar/">Basic 2-column layout</a>
      </h2>
      <p>A simple responsive layout with standard header, sidebar, body content, and foot. Uses
        <code class="code__inline">@supports</code> for browsers thst don't support CSS Grid.</p>
    </li>
    <li>
      <h2>
        <a href="demos/callouts/">Contextual callouts</a>
      </h2>
      <p>So cool.</p>
    </li>
    <li>
      <h2>
        <a href="demos/basic-3-col/">Basic 3-column layout</a>
      </h2>
      <p>This example uses `grid-template-areas` to define the layout. Based on
        <a href="https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_Grid_Layout/Realizing_common_demos_using_CSS_Grid_Layout">
          https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_Grid_Layout/Realizing_common_layouts_using_CSS_Grid_Layout</a>
      </p>
    </li>
    <li>
      <h2>
        <a href="layouts/off-canvas-nav/">Off-canvas Nav (CSS only)</a>
      </h2>
      <p>Based on:
        <a href="https://webdesign.tutsplus.com/tutorials/how-to-build-an-off-canvas-navigation-with-css-grid--cms-28191">https://webdesign.tutsplus.com/tutorials/how-to-build-an-off-canvas-navigation-with-css-grid--cms-28191</a>
      </p>
    </li>
    </ul>
  </section>
    <aside class="sidebar">
      <ul>
    <li>
      <h2>Grid Resources</h2>
      <p><a href="https://gridbyexample.com/examples/">Grid By Example</a> (Rachel Andrew)</p>
      <p><a href="http://labs.jensimmons.com/">The Experimental Layout Lab of Jen Simmons</a></p>
      <p><a href="https://rachelandrew.co.uk/css/cheatsheets/box-alignment">Box Alignment Cheatsheet</a> (Rachel Andrew)</p>
    </li>
  </ul>
</aside>
</div>

{% include 'footer.njk' %}

</body>

</html>